metrics-server:
  args:
    - --kubelet-insecure-tls
    - --kubelet-preferred-address-types=InternalIP
    - --metric-resolution=15s
  
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
  
  replicas: 1