minio:
  mode: standalone
  replicas: 1
  
  rootUser: minioadmin
  rootPassword: minioadmin123
  
  resources:
    requests:
      memory: 512Mi
      cpu: 250m
    limits:
      memory: 1Gi
      cpu: 500m
  
  persistence:
    enabled: true
    size: 20Gi
    storageClass: local-path
  
  service:
    type: ClusterIP
    port: 9000
  
  consoleService:
    type: ClusterIP
    port: 9001
  
  buckets:
    - name: loki-chunks
      policy: none
      purge: false
    - name: loki-ruler
      policy: none
      purge: false
    - name: tempo-traces
      policy: none
      purge: false
    - name: mimir-blocks
      policy: none
      purge: false
    - name: mimir-ruler
      policy: none
      purge: false
    - name: mimir-alertmanager
      policy: none
      purge: false
  
  users: []
  policies: []
  
  ingress:
    enabled: false
  consoleIngress:
    enabled: false